body{
    margin: 0;
    padding:0;
    display:flex;
}

.container{
    /*margin-top: 10%;*/
    background-color:white;
    padding:50px 80px;
    display: flex;
    flex-direction: column;
    width:100%;
    box-sizing: border-box;
}

h1{
    color: black;
    text-align: center;
}

.container input {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.container input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.container input[type="submit"]{
    background-color: #F7BD29;
    color: white;
    padding: 14px 20px;  
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}

.container input[type="submit"]:hover{
    opacity: 0.8;
}

.link{
    display: flex;
    justify-content: space-evenly;
}