html, body {
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.containerCapitol {
  width: 300px;
  height: 400px;
  background: white;
  border: solid 1.1px #edebd9;
  border-radius: 4px;
  margin-right: 22px;
  margin-left: 21px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 10px;
}

  .containerCapitol .image {
    width: 80px;
    height: auto;
    margin: 1px;
    padding: 10px 0px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .containerCapitol:hover {
    border: solid 1.6px #F7BD29;
    font-weight: bold;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
  }
  
.progress-wrapper{
  width: 96%;
  background: white;
  border: solid 1px black;
  border-radius: 4px;
  height: 20px;
}

.progress {
  height: 100%;
  border-radius: 4px;
  background: #00848c;
}

.display{
  width: 80%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicatoare {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.indicatoare p{
  height: 10%;
  text-align: center;
  font-size: 14px;
  justify-content: center;
  padding: 0px 10px;
}


button{
  background-color: #F7BD29;
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  width: 120px;
  margin-top: 68px;
}

.next{
  margin-top: 20px;
  background-color: #037272;
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  width: 120px;
}

.descriereCapitol{
  width: 96%;
  height: fit-content;
  background: #edebd9;
  color: black;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  text-align: left;
  padding: 10px 20px;
}

h1{
  text-align: center;
}